<mat-list role="list" class="card-list">
  <h2 class="card-list__name">{{ cardList.name }}</h2>
  <app-card-item
    *ngFor = "let card of cardList.cards | searchFilter: searchCriterion"
    [isDoneSelection] = "cardList.isDoneSelection"
    [card] = "card"
    (removeCard)="onRemoveCard($event)"
    (editCard)="onEditCard($event)"
    [cardGroup]="cardList.id"
  >
  </app-card-item>
  <!-- <button [routerLink]="['create', this.cardList.id]" mat-button class='page-header__button' (click)="onCreateCard()">+ Create card</button> -->
  <button mat-button class='page-header__button' (click)="onCreateCard()">+ Create card</button>
</mat-list>
